.body{
    margin: 0;
}
.menu{
    height: 80px;
    background-color: rgb(39, 78, 49);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
.logo{
    height: 75px;
}
.p{
    margin-right: 30px;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
}
.a{
    margin-right: 20px;
    display: flex;
    margin-right: 30px;
}
.p:hover{
    color: rgba(255, 220, 19, 0.897);
    font-size: 15px;
}
.n{
    cursor: pointer;
}
.n:hover{
    color: rgb(255, 216, 19);
}
.menu:hover{
    background-color:rgb(1, 63, 1);
}